.icono {
    font-size: 25px !important;
}

.icono-18 {
    font-size: 18px !important;
}

.txt-13 {
    color: #262626 !important;
    font-size: 13px !important;
}

/*  + + + + + texto  + + +  */
.txt-16-n {
    color: #262626 !important;
    font-size: 16px !important;
    font-weight: bolder;
}

.txt-18-n {
    color: #262626 !important;
    font-size: 18px !important;
    font-weight: bolder;
}

.txt-20-n {
    color: #262626 !important;
    font-size: 20px !important;
    font-weight: bolder;
}

.txt-25-n {
    color: #262626 !important;
    font-size: 25px !important;
    font-weight: bolder;
}

.txt-35-n {
    color: #262626 !important;
    font-size: 35px !important;
    font-weight: bolder;
}

/* + = = = = = = = = TEXTO NEGRITA =====  */

.txt-16 {
    color: #262626 !important;
    font-size: 16px !important;
}

.txt-18 {
    color: #262626 !important;
    font-size: 18px !important;
}

.txt-20 {
    color: #262626 !important;
    font-size: 20px !important;
}

.txt-25 {
    color: #262626 !important;
    font-size: 20px !important;
}


.txt-35 {
    color: #262626 !important;
    font-size: 35px !important;
}

/* + = = = = = = = = COLOR =====  */
.color-003 {
    color: #003C71 !important;
}

.color-057 {
    color: #0571CD !important;
}

.color-BE1 {
    color: #BE1622 !important;
}

.color-FF4 {
    color: #FF4F00 !important;
}

.color-FFC {
    color: #dbab0c !important;
}

.color-262 {
    color: #262626 !important;
}

.color-4AC {
    color: #4AC4E8 !important;
}
